<h3>
    <a href="/groups/<%= group.id %>">
        <%= group.name %>
    </a>
    <a class="float-right fas fa-chevron-down" data-toggle="collapse" data-target="#group-<%= group.id %>-options"
        style="cursor: pointer"></a>
</h3>
<div class="card collapse" id="group-<%= group.id %>-options">
    <div class="card-body p-2">
        <script>
            function rotateGroup(id) {
                const url = `/groups/${id}/rotate`;
                $.post(url, () => {
                    window.location = `/groups/${id}`;
                });
            }
            function deleteGroup(id) {
                alert("This isn't implemented (and won't be without user authentication).");
            }
        </script>
        <button class="btn btn-danger col-sm-3 mb-1" onclick="rotateGroup(<%= group.id %>)">Rotate Chores</button>
        <a class="btn btn-info col-sm-3 mb-1" href="/groups/<%= group.id %>/chores/new">Add New Chore</a>
        <!-- <button class="btn btn-danger col-sm-3 m-1" onclick="deleteGroup(<%= group.id %>)">Delete Group</button> -->
    </div>
</div>