<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script>
        const toggleStatus = async (id) => {
            let currentStatus = document.getElementById(`chore-${id}-status`).innerHTML.trim() == 'Complete';
            let url = !currentStatus ? `chores/${id}/do` : `chores/${id}/undo`;
            const res = await fetch(url, { method: 'POST' });
            if (res.ok) {
                const button = document.getElementById(`chore-${id}-status`)
                button.innerHTML = !currentStatus ? 'Complete' : 'Incomplete';
                button.className = 'btn btn-' + (!currentStatus ? 'success' : 'primary');
            }
        }
    </script>
</head>

<body class="container">
    <div class="jumbotron">
        <h1>Chores List</h1>
    </div>
    <% groups.forEach((group) => { %>
    <table class="table table-hover">
        <h3>
            <%= group.name %>
        </h3>
        <thead>
            <tr>
                <th>Name</th>
                <th>Assignee</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% chores.forEach((chore) => { if (chore.GroupId === group.id) { %>
            <tr>
                <td>
                    <%= chore.name %>
                </td>
                <td>
                    <%= chore.assignee %>
                </td>
                <td>
                    <button id="chore-<%= chore.id %>-status" type="button" class="btn btn-<%= chore.status ? 'success' : 'primary' %>"
                        onclick="toggleStatus(<%= chore.id %>)">
                        <%= chore.status ? 'Complete' : 'Incomplete' %>
                    </button>
                </td>
            </tr>
            <% } }); %>
        </tbody>
    </table>
    <% }); %>
</body>

</html>