<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
</head>

<body class="container">
    <% include ./partials/navBar.ejs %>

    <div class="jumbotron">
        <h3>
            Chore Details for
            <%= chore.name %>
        </h3>
        <p>The details and avaliable actions for
            <%= chore.name %> are listed below.</p>
    </div>
    <div class="container m-0 justify-content-center row">
        <ul class="list-group col-auto">
            <div class="list-group-item">
                Id:
            </div>
            <div class="list-group-item">
                Name:
            </div>
            <div class="list-group-item">
                Group:
            </div>
            <div class="list-group-item">
                Assignee:
            </div>
            <div class="list-group-item">
                Status:
            </div>
            <div class="list-group-item">
                Last Updated On:
            </div>
        </ul>
        <ul class="list-group p-0 col">
            <div class="list-group-item">
                <%= chore.id %>
            </div>
            <div class="list-group-item">
                <%= chore.name %>
            </div>
            <div class="list-group-item">
                <a href="/groups/<%= group.id %>">
                    <%= group.name %></a>
            </div>
            <div class="list-group-item">
                <%= chore.assignee %>
            </div>
            <div class="list-group-item">
                <%= chore.status ? 'Complete' : 'Incomplete' %>
            </div>
            <div class="list-group-item">
                <%= new Date(chore.updatedAt).toLocaleString('en-US', { hour12: true }) %>
            </div>
        </ul>
    </div>
    <script>
        function deleteChore() {
            const url = "/groups/<%= group.id %>/chores/<%= chore.id %>/delete";
            $.post(url, () => {
                window.location = "/groups/<%= group.id %>";
            });
        }
    </script>
    <div class="container pt-3">
        <a class="btn btn-primary" href="/groups/<%= group.id %>/chores/<%= chore.id %>/update">Edit Chore</a>
        <button class="btn btn-danger" onclick="deleteChore()">Delete Chore</button>
    </div>
    <% include ./partials/scripts.ejs %>
</body>

</html>